@import url('https://fonts.googleapis.com/css2?family=Borel&family=Roboto+Slab:wght@400;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}
body{
    background-color: #fff;
}

body::-webkit-scrollbar{
    display: block;
    width: 8px;
    background-color: #f5f3f4;
}
body::-webkit-scrollbar-thumb{
    background-color: #f77f00;
    border-radius: 50px;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: fixed;
}

.main-nav {
    width: 90%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 25px;
    border-radius: 50px;
}

.main-nav img {
    width: 200px;
    cursor: pointer;
}

.main-nav .navlinks ul {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 15px;
    list-style: none;
}

.main-nav .navlinks ul li {
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

.main-nav .navlinks ul li .links {
    text-decoration: none;
    color: #fff;
    transition: all 0.1s ease-in-out;
}

.main-nav .navlinks ul li .links:hover {
    border-bottom: 1px solid #ff9500;
}

.main-nav .navlinks ul li .profile i {
    font-size: 1.5rem;
    color: #fff;
    transition: all 0.3s ease-in;
}
.main-nav .navlinks ul li .profile i:hover{
    color: #003;
}

.toggle-btn {
    display: none;
    text-decoration: none;
}

.main-nav .toggle-btn i {
    font-size: 2.2rem;
    color: #d62828;
}

.header-img {
    width: 100%;
    height: 600px;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url("../image\ assets/monsoonback.jpg");;
    display: flex;
    justify-items: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.header-img h1 {
    font-family: 'Borel', cursive;
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 5rem;
    color: #fff;
}

.header-img-two {
    width: 100%;
    height: 600px;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url("../image\ assets/springback.jpg");;
    display: flex;
    justify-items: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.header-img-two h1 {
    font-family: 'Borel', cursive;
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 5rem;
    color: #fff;
}

.header-img-three {
    width: 100%;
    height: 600px;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url("../image\ assets/summerback.jpg");;
    display: flex;
    justify-items: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.header-img-three h1 {
    font-family: 'Borel', cursive;
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 5rem;
    color: #fff;
}

.header-img-four {
    width: 100%;
    height: 600px;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url("../image\ assets/valley\ slide.jpg");;
    display: flex;
    justify-items: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.header-img-four h1 {
    font-family: 'Borel', cursive;
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 5rem;
    color: #fff;
}

.search-bar {
    width: 80%;
    max-width: 700px;
    background: rgb(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-color: aliceblue;
    border-radius: 50px;
    padding: 10px 10px;
    position: relative;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    z-index: 10;
}

.search-bar span {
    position: absolute;
    left: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.search-bar span p {
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5rem;
    color: #fff;
    width: 0;
    animation: typing 1.5s steps(30) infinite;
    animation-fill-mode: forwards;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.header-img form button i {
    color: black !important;
    font-size: 1.2rem;
    cursor: pointer;
}

.header-img-two form button i {
    color: black !important;
    font-size: 1.2rem;
    cursor: pointer;
}

.header-img-three form button i {
    color: black !important;
    font-size: 1.2rem;
    cursor: pointer;
}

.header-img-four form button i {
    color: black !important;
    font-size: 1.2rem;
    cursor: pointer;
}

#head {
    color: #011627;
    font-family: 'Borel', cursive;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
    font-size: 2.9rem;
}

.all-products {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.products {
    overflow: hidden;
    background: #f8f7ff;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 20px 10px 10px 10px;
    gap: 10px;
    box-shadow: 10px 0px 20px #ccc,-10px 0px 20px  #ccc;
}

.products img {
    height: 45%;
    width: 260px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    transition: all 0.3s;
}

.products:hover img {
    scale: 1.1;
}

.product-info {
    height: 45%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.products .product-info .product-title {
    text-align: center;
    color: #03071e;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
}

.products .product-info .product-places {
    text-align: center;
    color: #03071e;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 1rem;
}

.products .product-info .product-price {
    text-align: center;
    color: #03071e;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    font-size: 1.1rem;
}

.products .product-info .product-btn {
    text-decoration: none;
    background-color: #ff9500;
    border-radius: 10px;
    color: #03071e;
    font-weight: 600;
    font-size: 1.2rem;
    transition: all 0.3s ease-in;
    text-align: center;
    padding: 15px 30px;
}

.products .product-info .product-btn:hover {
    background-color: #d62828;
    color: #fff;
}

footer{
    width: 100%;
    height: 400px;
    background-color: #03071e;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer h1{
    font-family: 'Borel', cursive;
    font-size: 3rem;
    font-weight: 600;
    color: #e85d04;
}
footer .footer-links{
    display: flex;
    flex-direction: column;
}
.footer-links h3{
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    color: #e85d04;
}
.footer-links a{
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
}
@media (max-width:1074px) {
    .main-nav .navlinks ul {
        gap: 15px;
    }

    .main-nav .navlinks ul li{
        font-size: 1rem;
    }

    .products {
        width: 300px;
    }

    .products img {
        width: 270px;
    }
}

@media (max-width:991px) {
    .main-nav .navlinks ul {
        gap: 10px;
    }
}

@media (max-width:900px) {
    .toggle-btn{
        display: block;
    }
    .main-nav .toggle-btn i{
        margin-right: 20px;
    }
    .navlinks{
        position: absolute;
        background-color: #eae2b7;
        left: -110%;
        top: 110%;
        width: 100%;
        padding-block: 30px;
        transition: 0.2s ease-in-out;
        z-index: 100;
        border-radius: 10px;
    }
    .navlinks.active{
        left: 0;
    }
    .main-nav .navlinks ul{
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width:768px) {
    .header-img {
        height: 500px;
    }

    .header-img h1 {
        font-size: 3.5rem;
    }

    .header-img-two {
        height: 500px;
    }

    .header-img-two h1 {
        font-size: 3.5rem;
    }

    .header-img-three {
        height: 500px;
    }

    .header-img-three h1 {
        font-size: 3.5rem;
    }

    .header-img-four {
        height: 500px;
    }

    .header-img-four h1 {
        font-size: 3.5rem;
    }

    .search-bar {
        width: 70%;
    }

    #head {
        font-size: 2.5rem;
    }

    .products {
        width: 250px;
        padding: 20px 10px 10px 10px;
    }

    .products img {
        width: 220px;
        height: 35%;
    }

    .product-info {
        height: 60%;
    }

    footer h1{
        font-size: 1.8rem;
    }
    .footer-links h3{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:600px) {
    .header-img {
        width: 100%;
        height: 400px;
    }

    .header-img h1 {
        font-size: 2.5rem;
    }

    .header-img-two {
        width: 100%;
        height: 400px;
    }

    .header-img-two h1 {
        font-size: 2.5rem;
    }

    .header-img-three {
        width: 100%;
        height: 400px;
    }

    .header-img-three h1 {
        font-size: 2.5rem;
    }

    .header-img-four {
        width: 100%;
        height: 400px;
    }

    .header-img-four h1 {
        font-size: 2.5rem;
    }

    .search-bar {
        width: 400px;
    }

    .search-bar span p {
        font-size: 1rem;
    }

    #head {
        font-size: 1.7rem;
    }

    .products {
        width: 250px;
    }

    .products img {
        width: 220px;
    }

    footer{
        height: 650px;
        flex-direction: column;
    }
    footer h1{
        margin-top: 40px;
    }
}

@media (max-width:522px) {
    .search-bar input {
        font-size: 1rem;
    }

    .search-bar button {
        width: 40px;
        height: 40px;
    }
}

@media (max-width:460px) {
    .search-bar {
        width: 300px;
    }

    .search-bar span p {
        font-size: 0.8rem;
    }

    .search-bar button {
        width: 30px;
        height: 30px;
    }
}

@media (max-width:375px) {
    .main-nav img {
        width: 100px;
        cursor: pointer;
    }

    .header-img h1 {
        font-size: 2rem;
    }

    .header-img-two h1 {
        font-size: 2rem;
    }

    .header-img-three h1 {
        font-size: 2rem;
    }

    .header-img-four h1 {
        font-size: 2rem;
    }

    .search-bar {
        width: 280px;
    }

    .search-bar button {
        width: 30px;
        height: 30px;
    }
}

@media (max-width:320px) {
    
    .main-nav .toggle-btn i {
        font-size: 1.5rem;
    }

    .search-bar {
        width: 250px;
    }

    .header-img form button i {
        font-size: 0.8rem;
    }

    .header-img-two form button i {
        font-size: 0.8rem;
    }

    .header-img-three form button i {
        font-size: 0.8rem;
    }

    .header-img-four form button i {
        font-size: 0.8rem;
    }

    .search-bar input {
        width: 200px;
    }

    .search-bar span p {
        font-size: 0.7rem;
    }
}