@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #caf0f8;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
}
.main-nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 25px;
}
.main-nav .logo img{
    width: 50px;
    height: 50px;
}
.main-nav .logo #homelink{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Borel', cursive; text-align: center;
    font-style: italic;
    font-weight: 900;
    color: #fff;
}
.main-nav .navlinks ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.main-nav .navlinks ul li{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.main-nav .navlinks ul li .links{
    text-decoration: none;
    color:#fff;
    transition: all 0.3s ease-in-out;
}
.main-nav .navlinks ul li .links:hover{
    color: #011627;
    border-bottom: 2px solid #011627;
}
.main-nav .navlinks ul li .pbtn{
    color: #fff;
    padding: 12px 24px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    text-decoration: none;
    border: 2px solid #fff;
}
.main-nav .navlinks ul li .sbtn{
    color: #fff;
    padding: 12px 24px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    border: 2px solid #fff;
    text-decoration: none;
}
.main-nav .navlinks ul li .pbtn:hover{
    background-color: #edf2fb;
    color: #011627;
    border: 2px solid #edf2fb;
}
.main-nav .navlinks ul li .sbtn:hover{
    background-color: #edf6f9;
    color: #011627;
}
.toggle-btn {
    display: none;
    text-decoration: none;
}

.main-nav .toggle-btn i {
    font-size: 2.2rem;
    color: #fff;
}
.search-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 20px;
}
#search-bar{
    background: #edf6f9;
    width: 800px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 10px;
    backdrop-filter: blur(4px) saturate(180%);
}
#search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: 0;
    width: 750px;
    padding: 14px 20px;
    font-size: 1.5rem;
    color: #011627;
    border-radius: 50px;
}
::placeholder{
    color: #011627;
}
#search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #fff;
    cursor: pointer;
}
#search-bar button i{
    font-size: 2rem;
    color: #011627;
}
.head{
    margin-top: 20px;
    text-align: center;
    font-family: 'Borel', cursive;
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
    color: #011627;
}
.content{
    margin-top: 30px;
    width: 100%;
    background-color: #edf2fb;
    height: 450px;
    border-radius: 20px;
    padding-block: 20px;
    display: flex;
    flex-direction: column;
}
.content h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
}
.content .card-container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-inline: 20px;
    justify-content: center;
}
.content .card-container .cards{
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px 10px 10px 10px ;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
.content .card-container .cards img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.content .card-container .cards .card-text{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    color: #011627;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.content .card-container .cards:hover{
    box-shadow: 1px 1px 6px #011627;
}
.content .card-container .cards:hover img{
    transform: translateY(-10px);
}
.bottom-section{
    width: 100%;
    height: 500px;
    margin-top: 30px;
    border-radius: 10px;
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)) ,url(image\ assets/bottom\ back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.bottom-section h1{
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
.bottom-section p{
    color: #e9ecef;
    font-size: 2.3rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.bottom-section a{
    text-decoration: none;
    font-size: 1.8rem;
    padding: 20px 30px;
    background-color: #e9ecef;
    border-radius: 20px;
    color: #011627;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}
.bottom-section a:hover{
    background-color: #ccc;
    color: #000;
}
footer{
    width: 100%;
    height: 500px;
    background-color: #caf0f8;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer h1{
    font-family: 'Borel', cursive;
    font-size: 3rem;
    font-weight: 600;
}
footer .footer-links{
    display: flex;
    flex-direction: column;
}
.footer-links h3{
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.footer-links a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #011627;
    text-align: center;
}
.main{
    width: 100%;
    height: 600px;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}
.main .img{
    width: 50%;
    height: 100%;
    background-image: url(image\ assets/taj\ agra.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginform{
    width: 50%;
    height: 100%;
    background-color: #f8f7ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginform h1{
    font-family: 'Borel', cursive; text-align: center;
    color: #03045e;
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 900;
    text-decoration: underline;
}
.loginform form{
    margin-top: 15px;
}
.loginform .input{
    border: none;
    outline: none;
    height: 50px;
    width: 250px;
    border-radius: 7px;
    padding-left: 20px;
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.loginform form h4{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-block: 10px;
    color: #5465ff;
    font-weight: 600;
}
.loginform form .log{
    margin-top: 50px;
    border: none;
    background-color: #788bff;
    width: 250px;
    height: 50px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}
.loginform form .log:hover{
    background-color: #072ac8;
}
.loginform .input:focus {
    border: 2px solid #072ac8;
    background-color: #e3f2fd;
}
.rmain{
    width: 100%;
    height: 700px;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}
.rmain .img{
    width: 50%;
    height: 100%;
    background-image: url(image\ assets/ladakh7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.signupform{
    width: 50%;
    height: 100%;
    background-color: #f8f7ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signupform h1{
    font-family: 'Borel', cursive; text-align: center;
    color: #03045e;
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 900;
    text-decoration: underline;
}
.signupform form{
    margin-top: 10px;
}
.signupform .input{
    border: none;
    outline: none;
    height: 50px;
    width: 250px;
    border-radius: 7px;
    padding-left: 20px;
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;
}
.signupform form h4{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-block: 10px;
    color: #9381ff;
    font-weight: 600;
}
.signupform form .log{
    margin-top: 20px;
    border: none;
    background-color: #b8b8ff;
    width: 250px;
    height: 50px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}
.signupform form .log:hover{
    background-color: #072ac8;
}
.signupform .input:focus {
    border: 2px solid #072ac8;
    background-color: #e3f2fd;
}
@media (max-width:1037px){
    .main-nav .logo #homelink{
        font-size: 1rem;
    }
    .main-nav .navlinks ul{
        gap: 15px;
    }
    .main-nav .navlinks ul li{
        font-size: 1rem;
    }
}
@media (max-width:991px){
    .head{
        font-size: 2rem;
    }
    .content{
        height: 400px;
    }
    .content h1{
        font-size: 2rem;
    }
    .content .card-container .cards{
        height: 250px;
    }
    .content .card-container .cards .card-text{
        font-size: 1rem;
        text-overflow: ellipsis;
    }
    footer h1{
        font-size: 2rem;
    }
    .main{
        height: 500px;
    }
    .loginform h1{
        font-size: 1.5rem;
        margin-top: 40px;
    }
    .loginform .input{
        width: 200px;
    }
    .loginform form h4{
        font-size: 1rem;
    }
    .loginform form .log{
        width: 200px;
        margin-top: 30px;
    }   
    .rmain{
        height: 600px;
    }
    .rmain .img{
        width: 45%;
    }
    .signupform{
        width: 55%;
    }
    .signupform h1{
        font-size: 1.5rem;
        margin-bottom: 0px;
    }
    .signupform .input{
        width: 200px;
        font-size: 0.9rem;
    }
    .signupform form h4{
         font-size: 1rem;   
    }
    .signupform form .log{
        width: 200px;
    }
}
@media (max-width:891px){
    .toggle-btn{
        display: block;
    }
    .main-nav .toggle-btn i{
        margin-right: 20px;
    }
    .navlinks{
        position: absolute;
        background-color: #788bff;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 30px;
        transition: 0.2s ease-in-out;
        z-index: 100;
    }
    .navlinks.active{
        left: 0;
    }
    .main-nav .navlinks ul{
        flex-direction: column;
        gap: 40px;
    }
    #search-bar{
        width: 650px;
    }
    .head{
        font-size: 1.7rem;
    }
}
@media (max-width:768px){
    .shead{
        font-size: 2.5rem !important;
    }
    .content .card-container .cards:nth-child(4){
        display: none;
    }
    footer h1{
        font-size: 1.8rem;
    }
    .footer-links h3{
        font-size: 1.5rem;
    }
}
@media (max-width:658px){
    #search-bar{
        width: 500px;
    }
    .head{
        font-size: 1.2rem;
    }
    footer{
        height: 650px;
        flex-direction: column;
    }
    footer h1{
        margin-top: 10px;
    }
}
@media (max-width:518px){
    .content .card-container .cards:nth-child(3){
        display: none;
    }
    #search-bar{
        width: 400px;
    }
    .head{
        font-size: 1rem;
    }
    .content h1{
        font-size: 1.5rem;
    }
    .bottom-section{
        height: 400px;
    }
    .bottom-section h1{
        font-size: 2rem;
    }
    .bottom-section p{
        font-size: 1.5rem;
    }
    .bottom-section a{
        font-size: 1rem;
    }
}
@media (max-width:425px){
    .shead{
        font-size: 1.8rem !important;
    }
    .main .img{
        width: 45%;
    }
    .loginform {
        width: 55%;
    }
    .loginform h1{
        font-size: 1rem;
        margin-top: 40px;
    }
    .loginform .input{
        width: 170px;
        font-size: 0.7rem;
    }
    .loginform form h4{
        font-size: 0.8rem;
    }
    .loginform form .log{
        width: 160px;
        font-size: 1rem;
    }
    .signupform h1{
        font-size: 1rem;
    }
    .signupform .input{
        width: 170px;
        font-size: 0.7rem;
    }
    .signupform form h4{
         font-size: 0.8rem;   
    }
    .signupform form .log{
        width: 170px;
        font-size: 1rem;
    }
}
@media (max-width:401px){
    .shead{
        font-size: 1.5rem !important;
    }
    .search-section{
        width: 350px !important;
    }
    #search-bar{
        width: 300px;
    }
    #search-bar input{
        font-size: 1rem;
    }
    .content h1{
        font-size: 1.2rem;
    }
    .bottom-section{
        height: 300px;
    }
    .bottom-section h1{
        font-size: 1.8rem;
    }
    .bottom-section p{
        font-size: 1.3rem;
    }
    .bottom-section a{
        font-size: 1rem;
    }
}
@media (max-width:320px){
    .content .card-container .cards:nth-child(2){
        display: none;
    }
    .main .img{
        display: none;
    }
    .loginform h1{
        font-size: 1rem;
    }
    .loginform .input{
        width: 150px;
        font-size: 0.6rem;
    }
    .loginform form h4{
        font-size: 0.7rem;
    }
    .loginform form .log{
        width: 150px;
        font-size: 1rem;
    }
    .rmain{
        width: 100%;
        justify-content: center;
    }
    .signupform h1{
        font-size: 1rem;
    }
    .signupform .input{
        width: 150px;
        font-size: 0.6rem;
    }
    .signupform form h4{
         font-size: 0.7rem;   
    }
    .signupform form .log{
        width: 150px;
        font-size: 1rem;
    }
}