@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #caf0f8;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
}
.main-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 25px;
}
.main-nav .logo img{
    width: 50px;
    height: 50px;
}
.main-nav .logo #homelink{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Borel', cursive; text-align: center;
    font-style: italic;
    font-weight: 900;
    color: #fff;
}
.main-nav .navlinks ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}
.main-nav .navlinks ul li{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.main-nav .navlinks ul li .links{
    text-decoration: none;
    color:#fff;
    transition: all 0.3s ease-in-out;
}
.main-nav .navlinks ul li .links:hover{
    color: #011627;
    border-bottom: 2px solid #011627;
}
.main-nav .navlinks ul li .pbtn{
    color: #fff;
    padding: 12px 24px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    text-decoration: none;
    border: 2px solid #fff;
}
.main-nav .navlinks ul li .sbtn{
    color: #fff;
    padding: 12px 24px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    border: 2px solid #fff;
    text-decoration: none;
}
.main-nav .navlinks ul li .pbtn:hover{
    background-color: #cfdbd5;
    color: #011627;
    border: 2px solid #cfdbd5;
}
.main-nav .navlinks ul li .sbtn:hover{
    background-color: #edf6f9;
    color: #011627;
}
.search-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 20px;
}
#search-bar{
    background: #edf6f9;
    width: 800px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 10px;
    backdrop-filter: blur(4px) saturate(180%);
}
#search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: 0;
    width: 750px;
    padding: 14px 20px;
    font-size: 1.5rem;
    color: #011627;
    border-radius: 50px;
}
::placeholder{
    color: #011627;
}
#search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #fff;
    cursor: pointer;
}
#search-bar button i{
    font-size: 2rem;
    color: #011627;
}