@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #caf0f8;
}
nav{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
}
.main-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 25px;
}
.main-nav .logo img{
    width: 80px;
    height: 70px;
}
.main-nav .logo #homelink{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Borel', cursive; text-align: center;
    font-style: italic;
    font-weight: 900;
    color: #fff;
}
.main-nav .navlinks ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}
.main-nav .navlinks ul li{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.main-nav .navlinks ul li .links{
    text-decoration: none;
    color:#fff;
    transition: all 0.3s ease-in-out;
}
.main-nav .navlinks ul li .links:hover{
    color: #011627;
    border-bottom: 2px solid #011627;
}
.main-nav .navlinks ul li .pbtn{
    color: #fff;
    padding: 12px 24px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    text-decoration: none;
    border: 2px solid #fff;
}
.main-nav .navlinks ul li .sbtn{
    color: #fff;
    padding: 12px 24px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    border: 2px solid #fff;
    text-decoration: none;
}
.main-nav .navlinks ul li .pbtn:hover{
    background-color: #edf2fb;
    color: #011627;
    border: 2px solid #edf2fb;
}
.main-nav .navlinks ul li .sbtn:hover{
    background-color: #edf6f9;
    color: #011627;
}
.header-img{
    width: 100%;
    height: 600px;
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)) , url("image\ assets/summerback.jpg");
    display: flex;
    justify-items: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}
.header-img h1{
    font-family: 'Lobster Two', cursive ;
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 5rem;
    color: #fff;
}
.search-bar{
    width: 80%;
    max-width:700px;
    background: rgb(255,255,255,0.2);
    display: flex;
    align-items: center;
    border-color: aliceblue;
    border-radius:50px;
    padding:10px 10px;
}
.search-bar input{
    background: transparent;
    flex:1;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff ;
}
.search-bar input::placeholder{
    color: #fff;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.header-img form button i{
    color: black !important;
    font-size: 1.2rem;
}
#head{
    color: #011627;
    font-family: 'Borel', cursive; text-align: center;
    margin-top: 30px;
    font-weight: 600;
    font-size: 2.9rem;
}
.all-products{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.products{
    overflow: hidden;
    background: #edf6f9;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 20px 10px 10px 10px ;
    gap: 15px;
}
.products:hover{
    box-shadow: 1px 1px 10px #011627;
}
.products img{
    height: 45%;
    width: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    transition: all 0.3s;
}
.products:hover img{
    scale: 1.1;
}
.product-info{
    height: 45%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.products .product-info .product-title{
    text-align: center;
    color: #011627;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}
.products .product-info .product-places{
    text-align: center;
    color: #011627;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
.products .product-info .product-price{
    text-align: center;
    color: #011627;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}
.products .product-info .product-btn{
    text-decoration: none;
    background-color: #9381ff;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
    transition: all 0.3s ease-in;
    text-align: center;
    padding: 15px 30px;
}
.products .product-info .product-btn:hover{
    background-color: #03045e;
}
footer{
    width: 100%;
    height: 500px;
    background-color: #edf2fb;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer h1{
    font-family: 'Borel', cursive;
    font-size: 3rem;
    font-weight: 600;
}
footer .footer-links{
    display: flex;
    flex-direction: column;
}
.footer-links h3{
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.footer-links a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #011627;
    text-align: center;
}
.footer-links a:hover{
    color: #03045e;
}
.main{
    width: 100%;
    height: 600px;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}
.main .img{
    width: 50%;
    height: 100%;
    background-image: url(image\ assets/taj\ agra.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginform{
    width: 50%;
    height: 100%;
    background-color: #f8f7ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginform h1{
    font-family: 'Borel', cursive; text-align: center;
    color: #03045e;
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 900;
    text-decoration: underline;
}
.loginform form{
    margin-top: 15px;
}
.loginform .input{
    border: none;
    outline: none;
    height: 50px;
    width: 250px;
    border-radius: 7px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.loginform .input::placeholder{
    color: #011627;
}
.loginform form h4{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-block: 10px;
    color: #5465ff;
    font-weight: 600;
}
.loginform form .log{
    margin-top: 50px;
    border: none;
    background-color: #788bff;
    width: 250px;
    height: 50px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}
.loginform form .log:hover{
    background-color: #072ac8;
}
.loginform .input:focus {
    border: 2px solid #072ac8;
    background-color: #e3f2fd;
}
.rmain{
    width: 100%;
    height: 700px;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}
.rmain .img{
    width: 50%;
    height: 100%;
    background-image: url(image\ assets/ladakh7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.signupform{
    width: 50%;
    height: 100%;
    background-color: #f8f7ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signupform h1{
    font-family: 'Borel', cursive; text-align: center;
    color: #03045e;
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 900;
    text-decoration: underline;
}
.signupform form{
    margin-top: 10px;
}
.signupform .input{
    border: none;
    outline: none;
    height: 50px;
    width: 250px;
    border-radius: 7px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    color: #011627;
}
.signupform .input::placeholder{
    color: #011627;
}
.signupform form h4{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-block: 10px;
    color: #9381ff;
    font-weight: 600;
}
.signupform form .log{
    margin-top: 20px;
    border: none;
    background-color: #b8b8ff;
    width: 250px;
    height: 50px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}
.signupform form .log:hover{
    background-color: #072ac8;
}
.signupform .input:focus {
    border: 2px solid #072ac8;
    background-color: #e3f2fd;
}