@import url('https://fonts.googleapis.com/css2?family=Borel&family=Roboto+Slab:wght@400;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}
body{
    background-color: #fff;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: fixed;
}

.main-nav {
    width: 90%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 25px;
    border-radius: 50px;
}

.main-nav img {
    width: 200px;
    cursor: pointer;
}

.main-nav .navlinks ul {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 15px;
    list-style: none;
}

.main-nav .navlinks ul li {
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

.main-nav .navlinks ul li .links {
    text-decoration: none;
    color: #003;
    transition: all 0.1s ease-in-out;
}

.main-nav .navlinks ul li .links:hover {
    border-bottom: 1px solid #ff9500;
}

.toggle-btn {
    display: none;
    text-decoration: none;
}

.main-nav .toggle-btn i {
    font-size: 2.2rem;
    color: #d62828;
}

.desc-header-section{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    position: relative;
    padding-inline: 50px;
}
.desc-header-section img{
    width: 50%;
    height: 70%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    box-shadow: 10px 0px 20px #ccc,-10px 0px 20px  #ccc;
}
.desc-header-section .short-details{
    width: 40%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #eae2b7;
    border-radius: 15px;
    overflow: hidden;
    padding-block: 15px;
    color: #03071e;
    box-shadow: 10px 0px 20px #ccc,-10px 0px 20px  #ccc;
}
.short-details .pack-name{
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
}
.short-details .pack-type{
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    text-align: center;
}
.short-details .price{
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}
.short-details .duration{
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}
.short-details .places{
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    text-align: center;
}
.service{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.service .include{
    width: 600px;
    height: 80px;
    background-color: #eae2b7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 0px 5px #011627;
}
.include h3{
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    color: #03071e;
}
.include i{
    font-size: 2rem;
    color: #03071e;
}
.description{
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 10px 0px 20px #ccc,-10px 0px 20px  #ccc;
}
.description h1{
    color: #011627;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 2rem;
}
.description .desc{
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

.details-add-section{
    width: 100%;
    padding: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 0px 20px #ccc,-10px 0px 20px  #ccc;
}
.details-add-section .addoption h1{
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    color: #000;
}
.details-add-section button{
    outline: none;
    border: none;
    background-color: #03071e;
    padding: 12px 20px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    margin-top: 15px;
}
.details-add-section form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form h2{
    font-size: 1.7rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    color: #000;
    margin-top: 15px;
}
form #date{
    width: 200px;
    height: 60px;
    background-color: #eae2b7;
    outline: none;
    border: 1px solid #eae2b7;
    border-radius: 10px;
    padding-inline: 10px;
    cursor: pointer;
}
form #tnum{
    width: 250px;
    height: 60px;
    background-color: #eae2b7;
    outline: none;
    border: 1px solid #eae2b7;
    border-radius: 10px;
    padding-inline: 10px;
}
form #quantity{
    width: 250px;
    height: 60px;
    background-color: #eae2b7;
    outline: none;
    border-radius: 10px;
    padding-inline: 10px;
}
.inputBox{
    outline: none;
    border: 1px solid #d7e3fc;
    width: 300px;
    height: 50px;
    padding-left: 10px;
    border-radius: 10px;
    padding-right: 10px;
    background-color: #eae2b7;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
.inputBox::placeholder{
    color: #000;
}
.inputBox:focus{
    border: 2px solid #d62828;
}
form #tnum::placeholder{
    color: #000;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}
form #tnum:focus{
    border: 2px solid #d62828;
}
form #btn{
    outline: none;
    padding: 15px 15px;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    background-color: #d62828;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 400;
    margin-top: 10px;
    transition: all 0.3s ease-in;
}
form #btn:hover{
    background-color: #003;
    color: #fff;
    font-weight: 400;
}
.details-add-section #proceedBtn{
    text-decoration: none;
    padding: 15px 15px;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    border-radius: 10px;
    color: #d62828;
    font-weight: 600;
    margin-top: 20px;
    border: 1px solid #d62828;
    transition: all 0.3s ease-in;
}
.details-add-section #proceedBtn:hover{
    background-color: #d62828;
    color:#fff;
}
@media (max-width:891px){
    .toggle-btn{
        display: block;
    }
    .main-nav .toggle-btn i{
        margin-right: 20px;
    }
    .navlinks{
        position: absolute;
        background-color: #fff;
        left: -110%;
        top: 100%;
        width: 100%;
        padding-block: 30px;
        transition: 0.2s ease-in-out;
        z-index: 100;
        border-radius: 10px;
    }
    .navlinks.active{
        left: 0;
    }
    .main-nav .navlinks ul{
        flex-direction: column;
        gap: 40px;
    }
    .short-details .pack-name{
        font-size: 1.6rem;
    }
    .short-details .pack-type{
        font-size: 1.2rem;
    }
    .short-details .price{
        font-size: 1.2rem;
    }
    .short-details .duration{
        font-size: 1.2rem;
    }
    .short-details .places{
        font-size: 1.2rem;
    }
}
@media (max-width:768px){
    .desc-header-section{
        flex-direction: column;
        height: fit-content;
        padding-top: 80px;
    }
    .desc-header-section img{
        width: 100%;
        height: 60%;
    }
    .desc-header-section .short-details{
        width: 100%;
        height: 35%;
    }
    .service .include{
        width: 500px;
    }
    .include i{
        font-size: 1.7rem;
    }
}
@media (max-width:540px){
    .service .include{
        width: 400px;
    }
    .include i{
        font-size: 1.4rem;
    }
}
@media (max-width:425px){
    .main-nav .logo #homelink{
        font-size: 1rem;
    }
    .service .include{
        width: 300px;
    }
    .include h3{
        font-size: 1rem;
    }
    .include i{
        font-size: 1rem;
    }
    .description h1{
        font-size: 1.5rem;
    }
    .details-add-section .addoption h1{
        font-size: 1.5rem;
    }
    .details-add-section button{
        font-size: 1rem;
    }
    form h2{
        font-size: 1.4rem;
    }
}
@media (max-width:330px){
    .main-nav .logo #homelink{
        font-size: 0.7rem;
    }
    .short-details .pack-name{
        font-size: 1.2rem;
    }
    .short-details .pack-type{
        font-size: 1rem;
    }
    .short-details .price{
        font-size: 1rem;
    }
    .short-details .duration{
        font-size: 1rem;
    }
    .short-details .places{
        font-size: 1rem;
    }
}